.footer{
     background-color: $color-brand;
     color: white;
     font-family: sans-serif;

     @media(min-width:1024px){
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
    }
    
    .footer-logos{
     border-top: 20px solid rgb(116 198 157);
     margin-left: 64px;
     margin-right: 64px;
     display: flex;
     justify-content: space-around;
     
     @media(min-width:1024px){
        width: 400px;
        border-top: none;
        margin-left: 131px;
     }
    }
    
    .footer-copy{
     margin-top: 20px;
     display: flex;
     justify-content: center;
     padding-bottom: 31px;
     font-size: 20px;

     @media(min-width:1024px){
        margin-right: 131px;
        display: flex;
        align-items: center;
     }
    }
    

    
    
    