@media (min-width:1000px){
    .article-1{
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 15px;
        flex-direction: row-reverse;
        
    } 
    .container{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
 
}
.section-1{
padding-bottom: 15px;
background-color: $color-brand;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.title-section-1{
   
margin: 10px;
font-size: 16px;
line-height: 1.25;
text-align: left;
font-family: $font-text;
color:white;
font-weight: bold;
letter-spacing: 5px;

}
.title-article-1{
margin: 10px;
font-size: 28px;
font-weight: bold;
line-height: 1.25;
text-align: left;
color:white;
font-family: $font-title;
@media (min-width:1000px){
    font-size: 40px;
}
}

.parrafo-article-1{
margin: 10px;
flex-grow: 0;
font-size: 15px;
line-height: 1.25;
text-align: left;
color:white;
font-family: $font-text;
}

.image-article-1{
width: 80vw;
margin: 10px;
}
.boton1{
display: inline-block;
padding: 15px;
width: 180px;
margin-left: 10px;
background-color: white;
color: $color-button;
text-align: center;
text-decoration: none;
font-size: 20px;
border-radius: 5px;
font-family: $font-text;
}
