<footer class="footer">
    <div class="footer-logos">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-pinterest-p"></i>
        <i class="fa-brands fa-tiktok"></i>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-youtube"></i>
        
    </div>

    <div class="footer-copy">
        <p class="copy">© Adatech, 2024.</p>
        
    </div>
</footer>