<header class="header">

    <div class="logo-titulo">
        <img src="images/icono adatech.svg" alt="logo-adatech" class="logo-adatech">
        <h1 class="titulo-header">AdaTech</h1>
    </div>
    
    <nav class="menu-primario">
        <img src="images/menu-icon.png" alt="logo-menu" class="logo-menu">
  
        <div class="menu-caja">
            <ul class="menu">
                    <li>Home</li>
                    <li>Servicios</li>
                    <li>Nosotros</li>
                    <li><a href="./contact.html">Contacto</a></li>
                </ul>
            </div>
    </nav>
</header>