<section>
           
    <h2 class="tittle3">Nuestro equipo</h2> 

   <!-- <load src="/partials/tarjeta.html" image="/public/images/images2/a.svg" name="Peg Legge" job="CEO"/> -->

    <div class="container3">


        <div class="item31">
            <article>
                <img class="image31" src="images/a.svg" alt="">
                <h3 class="name31">Peg Legge</h3>
                <p class="job1">CEO</p>
            </article>
        </div>

        <div class="item32">
            <article>
                <img class="image32" src="images/b.svg" alt="">
                <h3 class="name32">Alexandra Stolz</h3>
                <p class="job2">DESIGNER</p>
            </article>
        </div>

        <div class="item33">
            <article>
                <img class="image33" src="images/c.svg" alt="">
                <h3 class="name33">Susan li</h3>
                <p class="job3">CTO</p>
            </article>
        </div>

        <div class="item34">
            <article>
                <img class="image34" src="images/d.svg" alt="">
                <h3 class="name34">Janet Bray</h3>
                <p class="job4">DEVELOPER</p>
            </article>
        </div>

    </div>

</section>