<section class="section-1">
        
    <article class="article-1">
        <img src="./images/1.svg" alt="tres con bombilla" class="image-article-1">

        <div>
        <h3 class="title-section-1">BIENVENIDAS</h3>

        <h2 class="title-article-1">El soporte que necesitas si eres mujer autónoma</h2>
        <p class="parrafo-article-1">En AdaTech somo especialistas en apoyar desde el minuto cero a todas las mujeres que decidan emprender en su vida laboral. Un camino dificil, en el que estrán siempre acompañadas.</p>
        <a href="" class="boton1">Ver más</a>
        </div>
    </article>

    

</section>