<section>
           
    <h2 class="tittle3">Nuestro equipo</h2> 

  <!-- <load src="/partials/tarjeta.html" image="/images/a.svg" name="Peg Legge" job="CEO"/> -->

    <div class="container3">
       
        <load src="/partials/tarjeta.html" image="/images/a.svg" name="Peg Legge" job="CEO"/>

        <load src="/partials/tarjeta.html" image="/images/b.svg" name="Alexandra Stolz" job="DESIGNER"/>

        <load src="/partials/tarjeta.html" image="/images/c.svg" name="Susan Li" job="CTO"/>

        <load src="/partials/tarjeta.html" image="/images/d.svg" name="Janet Bray" job="DEVELOPER"/>

    </div>

</section>