<section class="section2">
    <article class="article2">
            <img src="./images/2.svg" alt="Es un dibujo de uans chicas hablando." class="image-article2">
            
            <div class="div-article2">
                <h2 class="title-article2">SOPORTE PERSONAL</h2>
                <p class="parrafo-article2">Trato personalizado e individual para tu proyecto. No solo estamos contigo en la parte tecnológica, te ayudamos en todas las gestiones para lograr tu propósito. </p>
                <a href="#" class="button-article2">Ver más</a>
            </div>
    </article>
    
    

    <article class="article3">
        <img src="./images/3.svg" alt="Es una imagen de un hombre con el ordenador en el sofa." class="image-article3">
        <h2 class="title-article3">SOPORTE TECNOLOGICO</h2>
        <p class="parrafo-article3">El mundo de la tecnología cambia, y nosotros te ayudamos a que estés al día. Deja que nuestas expertas se ocupen de ello y tú podrás poner tus esfuerzos en lo importante de tu negocio.</p>
    </article>

    <a href="#" class="boton3">Ver más</a>
</section>